<?xml version="1.0" encoding="utf-8" ?>
<services>
  <!-- Configuracion del servicio de aplicacion -->
  <service name="Sidesys.Services.ApplicationService" behaviorConfiguration="RequestProcessorBehavior">
	<endpoint name="MiddleWare" address="net.tcp://localhost:10500/ApplicationService/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IApplicationService" contract="Sidesys.Services.IApplicationService">
	</endpoint>
	<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	<host>
	  <baseAddresses>
		<add baseAddress="http://localhost:8732/Design_Time_Addresses/Sidesys.Services/ApplicationService/" />
	  </baseAddresses>
	</host>
  </service>
  
  <!-- Configuracion del servicion del nodo -->
  <!--
  <service name="Sidesys.Services.ApplicationService" behaviorConfiguration="RequestProcessorBehavior">
	<endpoint name="MiddleWareNode" address="net.tcp://localhost:8889/ApplicationServiceNode/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IApplicationService" contract="Sidesys.Services.IApplicationService">
	</endpoint>
	<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	<host>
	  <baseAddresses>
		<add baseAddress="http://localhost:8733/Design_Time_Addresses/Sidesys.Services/ApplicationServiceNode/" />
	  </baseAddresses>
	</host>
  </service>
  -->
</services>